/* header start*/
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: rgb(156, 150, 154);
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.06);
    z-index: 999;
    /*I want the top tool bar to stay the whole time in the users view*/
    position: sticky; 
    top: 0;
    left:0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center; /* Home Shop Blog About contact at the same line*/
}

#navbar li{
    list-style: none; /*remove the bullet point from the list*/
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;/*remove theunderlines from the list*/
    font-size: 16px;
    font-size: 600;
    color: black;
    transition: 0.3s ease; /*smooth the selection bar*/
}



#navbar li a:hover,
#navbar li a.active{ /*home link highlighted*/ 
    color:floralwhite
}

#navbar a::after{
    content:' ';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

#navbar li a.active::after,/*when the user is in a specific page the page has to be highlighted*/
#navbar li a:hover::after{ 
    transform: scaleX(1);
    content: "";
    width: 55%;
    height: 2px;
    background: rgb(204, 199, 199);
    position:absolute;
    bottom: -4px;
    left: 20px
}

#navbar li .btnLogin{
    background: transparent;
    width: 60px;
    height: 30px;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    transition: .5s;
   
}

#navbar li .btnLogin:hover{
    background: #fff;
    color: black;
}

#hero{
    
    background-image: url(images/flower2.jpg);
    height: 90vh;
    width: 89.4%;
    background-size:cover;
    background-position: top 50% right 10;
    padding: 0 80px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#hero h1{
    font-size: 5rem;
    
    color: rgb(97, 75, 87);
}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .featureBox {
    width: 150px;
    height: 100 px;
    text-align: center;
    padding: 20px 10px;
    box-shadow: 15px 15px 24px rgb(79, 71, 75);
    border: 1px solid color(srgb rgba(92, 98, 112) green rgb(0, 0, 0));
    border-radius: 4px;
    margin: 15px;
}

#feature .featureBox :hover {
    box-shadow: 30px 30px 64px rgb(255, 255, 255);

}


#feature .featureBox img{
    width: 70%;
    margin-bottom: 2px;
}

#feature .featureBox h4 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: rgb(0, 0, 0);
    background-color: rgb(183, 162, 166);

}
#product1{
    text-align: center;
}
#product1 .pro-container{
    display: flex;
    justify-content :space-between;
    padding-top: 20px;
    flex-wrap:wrap;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid#cce7d0;
    border-radius:25px;
    cursor: pointer;
    box-shadow:  20px 20px 30px rgba(0,0,0,0.02);
    margin: 15px 0;
    transition: 0.2s ease;
}
#product1 .pro:hover{
    box-shadow:  20px 20px 30px rgba(0,0,0,0.06);

}
#product1 .pro img{
    width:100%;
    border-radius:20px;

}
#product1 .pro .des{
    text-align: center;
    padding: 10px 0;
}
#product1 .pro .des span{
    color: #606063;
    front-size: 12px;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    front-size: 14px;
}
/* #product1 .pro .des h5{
    front-size: 12px;
    color: rgb(243, 181, 25)
} */